/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --bg-color: oklch(0.32368 0.0022 146.303);
    --bg-color-accent: oklch(from var(--bg-color) calc(l - 0.05) c h);
    --text-color: oklch(0.91357 0.00106 11.782);
    --text-color-accent: oklch(0.6 0.001 11.7);
    --divider-color: oklch(from var(--bg-color) calc(l + 0.18) c h);
}


:root {
    --font-ui:
        ui-sans-serif,
        -apple-system,
        'Segoe UI',
        system-ui,
        sans-serif;
}

* {
    font-family: var(--font-ui);
}



.container {
    display: flex;

    width: 400px;
    min-height: 400px;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.5em;
    align-items: end;

    background-color: var(--bg-color-accent);

    >button {
        /* border: none; */
        background: none;
        max-width: 50px;
        min-height: 50px;
        aspect-ratio: 1;
        margin-block: 0.1em;
        background: linear-gradient(to right, var(--btn-color) 10%, var(--bg-color));
        border-right: none;
        border-radius: 5% 0 0 5%;
        cursor: pointer;
    }

    >button:nth-of-type(1) {
        --btn-color: oklch(43.825% 0.13488 10.504);
        margin-block-start: 0.5em;
    }

    >button:nth-of-type(2) {
        --btn-color: oklch(68.188% 0.16079 56.596);
    }

    >button:nth-of-type(3) {
        --btn-color: oklch(76.308% 0.06068 187.976);
    }

    >button:nth-of-type(4) {
        --btn-color: var(--bg-color-accent);

        margin-block-start: auto;
        margin-block-end: 0.5em;
    }

    >button:not(.active) {
        filter: brightness(0.6)
    }

    >button:hover:not(.active) {
        filter: brightness(1.2);
    }


}

h3 {
    font-size: 0.85rem;
}

p {
    font-size: 0.8rem;
}



.info-box {
    position: relative;
    display: grid;


    >div {
        grid-area: 1/1;

        padding-inline: 1.5em;
        padding-block: 0.5em;
    }

    h2,
    h3 {
        color: var(--text-color-accent)
    }

    p {
        color: var(--text-color)
    }


    >div:not(.active) {
        visibility: hidden;
    }
}

.usage-count {
    font-size: 1.25rem;
    min-width: max-content;

    >span {
        font-size: 0.75rem;
    }
}

.example+h3 {
    margin-block-start: 1em;
    padding-block-start: 0.5em;
    border-top: 2px solid var(--divider-color);
}

.graph-container {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    height: 90px;
    /* margin-block: 1em; */
}

.usage-data {
    display: flex;
    margin-block-start: 1em;
    justify-content: center;

    >div {
        background-color: var(--bg-color-accent);
        margin: 0.5em;
        padding: 0.5em;
        padding-inline-end: 4em;

        border-radius: 15px;
        corner-shape: squircle;
    }
}


.example {
    background-color: var(--bg-color-accent);
    padding: 0.5em;
    border-radius: 15px;
    corner-shape: squircle;

}

.svg-logo {
    position: absolute;
    margin: auto;
    inset: 0;
    z-index: -1;

}

.svg-logo {
    g {
        transition: opacity 0.3s, fill-opacity 0.3s;

    }

    g.active {
        opacity: 0.6;
        fill-opacity: 0.6;

        * {
            opacity: 0.6;
            fill-opacity: 0.6;
        }

    }

    g:not(.active) {
        opacity: 1;
        fill-opacity: 0;

    }


}

.background {
    position: relative;
    z-index: -2;
    visibility: visible !important;
    background-color: var(--bg-color);
}

.total-info {
    >p {
        margin-block-start: 1em;
        text-align: center;
        font-size: 1rem;
    }
}

.total-row {
    display: flex;
    padding-block: 1em;

    border-bottom: 2px solid var(--divider-color);

    >svg {
        max-width: 30px;
        aspect-ratio: 1;
        align-self: center;
        margin-inline-end: 0.25em;
    }


}

.total-equals {
    margin-inline-start: auto;
    align-self: center;
}